.popupC {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  width: 528px;
  height: 363px;
  border-radius: 16px;
  padding: 32px 32px;
  background: white;
  position: relative;

}

.popup {
  position: absolute;
  background: white;
  width: 528px;
  height: 363px;
  border-radius: 16px;
  padding: 32px 32px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}

.close{
  position: absolute;
  top: 30px;
  left: 530px;
  border:none;
  background: white;
  cursor: pointer;
}